@import "mocha.css";

* {
  font-family: 'FiraCode Nerd Font';
  font-size: 13px;
}

#waybar {
  background: transparent;
  color: @text;
}

/*
 * Pill Layout
 */

#workspaces,
#waybar:not(.empty) #window,
#submap,
#mpris,
#tray,
#connectivity,
#system {
  background-color: @surface0;
  border-radius: 1em;
  padding: 0 1em;
  margin-top: 10px;
}

#workspaces {
  padding: 0 0.5em;
  margin-left: 10px;
}

#waybar:not(.empty) #window,
#submap {
  margin-left: 10px;
}

#system {
  margin-right: 10px;
}

#network {
  margin-right: 0.6em;
}

#bluetooth.devices,
#battery {
  margin-right: 0.5em;
}
#connectivity,
#tray {
  margin-right: 10px;
}

#tray > * > * {
  margin-left: 0.45rem;
  margin-right: 0.45rem;
}
#tray > *:first-child > * {
  margin-left: 0;
}
#tray > *:last-child > * {
  margin-right: 0;
}

#pulseaudio,
#backlight {
  padding-right: 0.85rem;
}

#bluetooth.on {
  opacity: 0.5;
}

/*
 * Workspaces
 */

#workspaces button {
  color: @lavender;
  padding-left: 0.5em;
  padding-right: 0.6em;
  border-radius: 1em;
  border: none;
  box-shadow: none;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button:hover {
  background: @surface2;
}
